node_modules
.vscode
1-preentrega-
17055-programacion-backend-20210703T222642Z-001
chat-prueba
ejemplos-main
typescript-00
apuntes02.js
apuntes02.txt
axios.zip
creacion proyectos (1).odt
ejemplos.zip
git-comandos.txt
typescript-instalacion.txt
17055-programación-backend-20210703T222642Z-001.zip
desafio18-mongodb
1preentregaPreliminar-tsc
mongodb.txt
socket
knex.txt
mongodb
1-preentrega-
1preentregaPreliminar-tsc
node.txt
firebase.json
config.ts
build
.env
PM2
recordatorios
dist
build