<div id="sideNav">
	<button onclick='closeNav();' class='btn btn-primary'>Close</button>

    <h1>Cart</h1>
		<button onclick="deleteAll();" class='btn btn-danger'>Eliminar todo</button>
	<div id="cartItems">

	</div>
</div>

<div id="main" class="container">
	<button onclick='openNav();' class='btn btn-primary'>Open Carrito</button>
	<h5 class="mt-5">Productos</h5>

	<div id="productos" class="row">
		
	</div>

</div>

<script src='js/externo/loader.js'></script>
<script src='js/externo/productos.js'></script>
<script src='js/externo/carrito.js'></script>
<script src='js/externo/sideNav.js'></script>