<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            
                <h3 class="text-center">Registración</h3>
                <div class="form-group">
                    <label>Nombre (*)</label>
                    <input class="form-control" type="text" id="name">
                </div>
                <div class="form-group">
                    <label>Email (*)</label>
                    <input class="form-control" type="email" id="email">
                </div>
                <div class="form-group">
                    <label>Password (*)</label>
                    <input class="form-control" type="password" id="password">
                </div>
                <div class="form-group">
                    <label>Confirmación de password (*)</label>
                    <input class="form-control" type="password" id="passwordConfirmation">
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input class="form-control" type="text" id="direction">
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input class="form-control" type="number" id="age">
                </div>
                <div class="form-group">
                    <label>País</label>
                    <select id="country">
                        <option value=0>Argentina</option>
                    </select>
                    <input class="form-control" type='number' id='countryNumber' disabled>
                </div>

                <div class="form-group">
                    <label>Teléfono</label>
                    <input class="form-control" type="number" id="tel">
                </div>
                <div class="form-group">
                    <label>Avatar</label>
                    <input class="form-control" type="file" id="avatar">
                </div>
                <button class="btn btn-success mt-4" id="send">Enviar</button>
            
            <p id="msg"></p>
        </div>
        <div class="col-4">
    
        </div>
    </div>
    
</div>
<script src='js/externo/register.js'></script>